.body {
  margin: 0;
}
.bg {
  margin: 0;
  background-image: url("images/auditorio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: papayawhip;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.container {
  width: 100vw;
  text-align: center;
}

.container > h1 {
  font-size: 40px;
  padding: 50px;
}

.chorus {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.singer {
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.singer > img {
  width: 300px;
  height: 300px;
}

.singing {
  transform: scale(1.01);
  transition: all 2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


